In [18]:

###############################################
## DEFINE DIRECTORIES AND PATHS FOR AIRFLOW
############################################### 
import variables_n_functions as vnf


###############################################
## CONNECTION WITH DB
###############################################                      
import pandas as pd
import yaml
import mysql.connector

config_file = open('config.yaml', 'r')
config = yaml.safe_load(config_file)

client = mysql.connector.connect(**config['connection'])
cursor = client.cursor()


###############################################
## DATA REQUEST TO DB: MATCHES FROM NEXT WEEK 7 DAYS
############################################### 

### DATES
from datetime import date, timedelta
import numpy as np


end = date.today()
start = end - timedelta(7)

end = end.strftime("%Y-%m-%d")
start = start.strftime("%Y-%m-%d")

between = '"'+start+'"' + ' and ' + '"'+end+'"'
data_request_string='SELECT * FROM h2h.model2 WHERE (match_day BETWEEN ' +between+ ')'
df=pd.read_sql(data_request_string, con=client)

,id,Y,league_id,season_id,venue_id,referee_id,localteam_id,visitorteam_id,localteam_position,visitorteam_position,match_day
0,18138909,0.0,8,18378,230,15273,8,6,2.0,5.0,2022-05-07
1,18138904,1.0,8,18378,480,74959,78,14,10.0,6.0,2022-05-07
2,18138905,0.0,8,18378,200,11691,27,15,16.0,13.0,2022-05-07
3,18138906,0.0,8,18378,321614,14814,18,29,3.0,8.0,2022-05-07
4,18138907,1.0,8,18378,201,13529,51,25,12.0,19.0,2022-05-07
5,18138903,1.0,8,18378,338817,13537,236,65,14.0,15.0,2022-05-07
6,18156891,0.0,82,18444,2001,16993,343,68,18.0,2.0,2022-05-07
7,18156889,0.0,82,18444,1946,17233,332,510,6.0,13.0,2022-05-07
8,18156888,0.0,82,18444,1944,15419,331,794,15.0,9.0,2022-05-07
9,18156886,0.0,82,18444,2088,15406,354,107,4.0,7.0,2022-05-07
10,18156887,0.0,82,18444,1618,17356,272,332,8.0,3.0,2022-05-07
11,18220214,1.0,384,18576,7189,17929,43,522,5.0,15.0,2022-05-07

In [20]:
######## CREO EL DATAFRAME QUE VOY A MOSTRAR ######
df['localteam_flag']= 'https://www.countries-ofthe-world.com/flags-normal/flag-of-United-States-of-America.png'
df['visitorteam_flag']= 'https://www.countries-ofthe-world.com/flags-normal/flag-of-United-States-of-America.png'
output= df[['Y','localteam_flag','localteam_id','visitorteam_id','visitorteam_flag','match_day']]

In [21]:
####### CREO EL HTML ######
from IPython.core.display import HTML
def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'
output.to_html('webpage.html',escape=False, formatters=dict(localteam_flag=path_to_image_html,
                                                            visitorteam_flag=path_to_image_html))

In [ ]:
### FALTA:
### ADECUAR BANDERAS
### MODIFICAR FECHA PARA QUE PIDA LOS FUTUROS
### AVENTAR EL HTML EN EL BUCKET